@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --color: #000000;
    --txt-color: #fff;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: var(--color);
    
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 4vh;
}

nav {
    animation: slideIn 0.9s ease-in-out;
}

.menubar {
    display: flex;
    justify-content: space-between;
}

.menubar li {
    list-style: none;
}

.menubar a {
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    margin: 0 20px;
    font-weight: 300;
    font-size: 80%;
    color: var(--txt-color);
    text-decoration: none;
    transition: transform 0.3s ease;
}

.menubar a:hover {
    transform: scale(1.2);
    text-decoration: none;
} 

main{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--txt-color);
}

.home {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 200%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.cprt{
    color: var(--txt-color);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50%;
    margin: 20px 0;
}